body{
    margin:0;
    padding: 0;
    background: url('../src/components/bg.jpg');
    background-size: cover;
    background-position: center;
    font-family: serif;
}
.login-box{
    width:660px;
    height: 280px;
    background: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 20px;
}
.light{
    left: 4%;
    height: 35%;
    position: absolute;
}
.logo{
    position: absolute;
    top: 10%;
    left: 64%;
}
.h1{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
   position: absolute;
   top: 11%;
left:12%
    
}
.new{
    position: absolute;

    width: 160px;
    height: 160px;
    top: 24%;
    left: 12%;
}

.formname{
  top:32%;
    left: 23%;
    position: absolute;
    width: 100%;
}
.login-box input{
    width: 50%;
    margin-bottom: 20px;

}
.login-box input[type="text"],input[type="Password"]{
    border: none;
    background: rgb(37, 37, 37);
    height: 30px;
    
}
.login-box input[type="submit"]{
    position: absolute;
    background:rgb(7, 143, 233);
    height: 30px;
    border-radius: 24px;
    width: 20%;
    top: 128%;
    left:40%;
   
}

.login-box a{
    position: absolute;
    color: white;
    font-size: small;
    left:58%;
    top: 100%;
}